
# Python
**/__pycache__

# Simulation
work/simulations/*

# Vivado
work/vivado*
work/vivado/*
**/.Xil
**/vivado*.jou
**/vivado*.log
**/vivado*.str
**/tight_setup_hold_pins.txt
hs_err_*.log
.run_vivado_success

# Design Compiler
work/*
.nfs*
alib-*
command.log
change_names_verilog
default.svf
filenames*.log
LIB_*_autoread

# Results
results/*

# Others
**/.stamp.*

# Virtual environment
venv
odatix_venv

# Docs
docs/build
